<footer class="footer fixed-bottom">
    <div class="container">
        <div class="row py-3 text-center">
            <div class="col-md-6 col-lg-7 text-center mb-4 mb-md-0">
                <h3 class="mb-0">My projects, contacts and CV:</h3>
            </div>
            <div class="col-md-6 col-lg-5 text-center text-md-left">
                    <a href="{% url 'go-to-github' %}">Github</a>,
                    <a href="{% url 'go-to-linkedin' %}">Linkedin</a> and
                    <a href="{% url 'go-to-cv' %}">CV</a>
            </div>
        </div>
    </div>
</footer>
